/* Estilo do index*/

main{overflow: hidden;
}


.cabessalho{display: flex; 
    font-family: 'DM Serif Display', serif;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 3rem;
    background-color: rgb(9, 39, 122);
}

.botao{margin: 0.1rem;
    align-self: center;
}

.img-bg{
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: autoS;
}
.menu{
      margin: 0.5rem ;
        }

.mensagens{margin: 0.5rem;
    align-self: center;
}


img{max-width:2rem;
    max-height:2rem;;
    width: auto;
    height: auto;
    }

.titulo {
        align-self: center;
        text-align: center;
        font-size: 2rem;
        font-style: red;
    }

.tarefas{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50rem;
        font-size: 1.5rem;
        background-color: rgb(234, 238, 242);
}

.mask-centro {
    display: flex;
    position: absolute;
    left:12rem;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 50rem;
}

.mask-baixo {
    display: flex;
    position: absolute;
    left:0rem;
    top:53.5rem;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 3rem;
}


.tarefas-mask{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        height: 50rem;
        font-size: 1.5rem;
        background-color: #000;
        opacity: 0.5;
}

.tarefa{ display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    background-color: rgb(208, 216, 219);
    width: 20rem;
    margin: 0.4rem;
}

.seta{height: 1rem ;
      width: 1rem;  
}

/*Inicio*/
.inicio{display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-image: url("../fotos/fazenda.jpeg");
        height: 50rem;
}

.agrotracking{font-size: 3rem;
}

.entrar{display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 4rem;
    width: 10rem;
    font-size: 2rem;
}
/*Estilo do Menu botao*/

.barra{
    font-family: 'DM Serif Display', serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    justify-content: space-evenly;
    height: 50rem;
    width: 12rem;
    font-size: 1.2rem;
    background-color: rgb(9, 39, 122);
}

.filho{width: 10rem;
       padding-left: 0.8rem;
       padding-bottom: 1rem;
       border-bottom: 0.1rem solid rgb(234, 238, 242);
}

.button {
    border: none;
    color: rgb(9, 39, 122);
    height: 7rem;
    width: 12rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0.05rem 0rem;
    transition-duration: 0.4s;
    cursor: pointer;
  }
.button2 {
    background-color:  rgb(9, 39, 122); 
    color: white; 
    border: 0.1rem solid rgb(9, 39, 122);
}
  
.button2:hover {
    background-color:rgb(208, 216, 219);
    color: black;
}

.logout{justify-content: flex-end;
        border-bottom: transparent;
        padding-top: 1rem;
        padding-left: 4rem;
        background-color: rgb(7, 78, 7);
        width: 8rem;
}

button{background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}

a{color: white;

}

.adicionar{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0rem;
    border-color:transparent ;
    padding: 0rem;
            width: 100%;
            height: 3rem;
    background-color:rgb(9, 39, 122);
}

/*adicionar tarefas*/

.fundo{display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height:auto 50rem;
       background-color: rgb(234, 238, 242);
}

.fundo_inicial{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
    background-color: transparent;
}

.add_inicial{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    height: 30rem;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.add{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(177, 176, 176);
    height: 30rem;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.title{justify-content: flex-start;
        font-size: 2rem;
}

.tipo{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: rgb(216, 230, 241);
    width: 15rem;
    margin: 0.5rem;

}
.son{margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
    background-color: rgb(216, 230, 241)
}
.date{background-color: transparent;}
.datas{display: flex;
        flex-direction: row;
}
.start{background-color: rgb(216, 230, 241);

        
}
.fim{background-color: rgb(216, 230, 241);
     margin-left: 2rem;}

.subtarefa{
    border: 0.08rem solid black;
}

.setor{display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.2rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;}

/*mensagens*/
.background1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto 50rem;
    background-color: rgb(208, 216, 219);
}

.lista_msgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50rem;
    width: 100rem;
    font-size: 1.5rem;
    background-color: rgb(208, 216, 219);
    

}
.chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: grey;
    width: 15rem;
    margin: 0.5rem;

}
.opcoes{display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15rem;

}

.chatbox{
    border: 0.2rem solid gray;
    background-color:#dedede ;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    justify-content: flex-start;
    width: 20rem;
}
.chatbox_me{
    border: 0.2rem solid #dedede;
    background-color: gray;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    justify-content: flex-end;
    width: 20rem;
}
.conversa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cab{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}
.img_pessoa{
    border-radius: 10rem;
}
.tit_pg{
    font-style: white;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }

.topnav input[type=text] {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    padding: 1rem;
    margin-left: 33rem;
    font-size: 1rem;
 }