/* Estilo do index*/

.cabessalho{display: flex; 
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    background-color: rgb(6, 59, 7);
}

.botao{margin: 0.1rem;
    align-self: center;
}

.menu{
      margin: 0.5rem ;
        }

.mensagens{margin: 0.5rem;
    align-self: center;
}

img{max-width:2rem;
    max-height:2rem;;
    width: auto;
    height: auto;
    }

.titulo {
        align-self: center;
        text-align: center;
        font-size: 2rem;
    }

.tarefas{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 50rem;
        font-size: 1.5rem;
        background-color: rgb(20, 144, 36);
}

.tarefa{ display: flex; 
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.4rem;
    background-color: aliceblue;
    width: 15rem;
    margin: 0.5rem;
}

.seta{height: 1rem ;
      width: 1rem;  
}
/*Inicio*/
.inicio{display: flex;
        flex-direction: row;
        justify-content: center;
        background-image: url("fotos/fazenda.jpeg");
        background-repeat: no-repeat;
        background-size:100%;
        bottom: 0;
        color: black;
        left: 0;
        overflow: auto;
        padding: 3em;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        background-size: auto;
}

.entrar{background-color: black;

}
/*Estilo do Menu botao*/

.barra{display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50rem;
    width: 12rem;
    font-size: 1.2rem;
    background-color: rgb(7, 112, 28);
}

.filho{width: 12rem;
       padding-left: 0.8rem;
       padding-bottom: 1rem;
       border-bottom: 0.1rem solid white;
}
.logout{justify-content: flex-end;
        border-bottom: transparent;
        padding-top: 1rem;
        padding-left: 4rem;
        background-color: rgb(7, 78, 7);
        width: 8rem;
}

button{background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}

a{color: white;

}

.adicionar{display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0rem;
    border-color:transparent ;
    padding: 0rem;
            width: 100%;
            height: 3rem;
    background-color:rgb(20, 144, 36);
}

/*adicionar tarefas*/

.fundo{display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 50rem;
       background-color: green;
}

.add{display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
    height: 30rem;
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.title{justify-content: flex-start;
        font-size: 2rem;
}

.tipo{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: aliceblue;
    width: 15rem;
    margin: 0.5rem;

}
.son{margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}
.date{background-color: transparent;}
.datas{display: flex;
        flex-direction: row;
}
.start{background-color: aliceblue;

        
}
.fim{background-color: aliceblue;
     margin-left: 2rem;}

.subtarefa{
    border: 0.08rem solid black;
}

.setor{display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;}